.servicesContainer {
    position: relative;
    bottom: -1000px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 20px;
    margin: 0 auto;
    z-index: 1;
}

.servicesContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}
.title {
    font-family: "Montserrat";
    font-size: 16px;
    max-width: 1279px;
    width: 100%;
    text-align: center;
    
}

.offers {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 50px;
}
.offer_first {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
}
.offer_second {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
}

.text {
    font-family: "Montserrat";
    font-size: 16px;
    min-width: 360px;
    max-width: 480px;
    line-height: 125%;
    text-align: justify;
    
}

.imageLeft, .imageRight {
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 12px 12px 14px rgba(0, 0, 0, 0.8);
}

.imageLeft {
    order: -1;
}

@media (min-width: 768px) {
    .title {
        font-size: 24px;
        max-width: 1279px;
        margin-top: 150px;
    }
    .details {
        display: flex;
        justify-content: center;
        font-size: 24px;
        max-width: 1279px;
    }
    .text {
        font-size: 20px;
        max-width: 1279px;
        line-height: 150%;
        width: 95%;
    }
    p, ul {
        width: 90%;
    }
}

@media (min-width: 1280px) {
    .title {
        
        font-size: 30px;
        max-width: 1480px;
    }
    .details {
        display: flex;
        justify-content: center;
        max-width: 1480px;
    }
    .text {
        flex: 1;
        font-size: 16px;
        width: 50%;
        line-height: 170%;
    }
    .offers {
        display:flex;
        grid-column: auto;
        max-width: 1480px;
    }
    .offer_first {
        display: flex;
        flex-direction:row;
        width: 90%;
        max-width: 1300px;
    }
    .offer_second {
        display: flex;
        flex-direction:row-reverse;
        width: 90%;
        max-width: 1300px;
    }
    
        .imageLeft {
            max-width: 50%;
            height: 50%;
        }
        .imageRight {
            max-width: 50%;
            height: 50%;
        }

}