.body {
    font-family: "Montserrat";
}

.aboutusContainer {
    position: relative;
    bottom: -1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}

.aboutusContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -3;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}

.title {
    margin-top: 200px;
    font-family: "Montserrat";
    font-size: 36px;
    min-width: 360px;
    max-width: 480px;
}

.details {
    font-family: "Montserrat";
    font-size: 16px;
    min-width: 360px;
    max-width: 480px;
}

.list {
    list-style: none;
    text-align: center;
}

.box_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-height: 100%;
    }

.box_experience {
    font-family: "Montserrat";
    background-image: url(../../pictures/Certyfikaty.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: center;
    height: 250px;
    max-width: 80%;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.box_quality {
    font-family: "Montserrat";
    background-image: url(../../pictures/Nasze\ dachy.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: center;
    height: 250px;
    max-width: 80%;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.box_professionalism {
    font-family: "Montserrat";
    background-image: url(../../pictures/ikona-nowa-z-22.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: center;
    height: 250px;
    max-width: 80%;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.box_trust {
    font-family: "Montserrat";
    background-image: url(../../pictures/O\ nas.png);
    background-repeat: no-repeat;
    background-size: 250px 250px;
    background-position: center;
    height: 250px;
    max-width: 80%;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.box_content {
    visibility: hidden;
    /* width: 100%;
    height: 100%; */
    /* background-image: url(../../pictures/Certyfikaty.png); */
    background-size:  cover;
    background-position: center;
    align-content: center;
    
}

.box_description {
    display: none;
}

.box_experience:hover .box_description {
    display: none;
}
.box_quality:hover .box_description {
    display: none;
}
.box_professionalism:hover .box_description {
    display: none;
}
.box_trust:hover .box_description {
    display: none;
}

.box_experience:hover .box_content {
    visibility: visible;
    font-family: "Montserrat";
}

.box_quality:hover .box_content {
    visibility: visible;
    font-family: "Montserrat";
}
.box_professionalism:hover .box_content {
    visibility: visible;
    font-family: "Montserrat";
}
.box_trust:hover .box_content {
    visibility: visible;
    font-family: "Montserrat";
}

.box_experience:hover {
    transform: translateY(-10px);
    transform: scale(1.2); 
    font-weight: bold; 
    text-shadow: 1px 1px #99999b;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    
    }

.box_quality:hover {
    transform: translateY(-10px);
    transform: scale(1.2); 
    font-weight: bold; 
    text-shadow: 1px 1px #99999b;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    
    
}

.box_professionalism:hover {
    transform: translateY(-10px);
    transform: scale(1.2); 
    font-weight: bold; 
    text-shadow: 1px 1px #99999b;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  
    
}

.box_trust:hover {
    transform: translateY(-10px);
    transform: scale(1.2); 
    font-weight: bold; 
    text-shadow: 1px 1px #99999b;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
    
    
}

.over:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out; 
}


@media (min-width: 768px) {
    .title {
        font-size: 48px;
        max-width: 1279px;
    }
    .details {
        font-size: 24px;
        max-width: 1279px;
    }

                .box_container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around; /* Rozmieszcza elementy równomiernie w poziomie */
                    align-items: center; /* Centruje elementy w pionie */
                    max-width: 100%;
                    border: 1px solid red; /* linia pomocnicza siatki */
                    padding: 20px; /* Dodaje padding wewnętrzny kontenera */
                    box-sizing: border-box; /* Uwzględnia padding w szerokości kontenera */
                }
                
                .box_container > div {
                    flex: 1 1 45%; /* Ustawia szerokość elementów wewnętrznych na około 45% */
                    border: 1px solid blue; /* linia pomocnicza siatki */
                    margin: 10px; /* Dodaje margines do elementów wewnętrznych */
                    box-sizing: border-box; /* Uwzględnia padding i border w szerokości elementu */
                }
}

@media (min-width: 1280px) {
    .title {
        font-size: 64px;
        max-width: 1480px;
    }
    .details {
        font-size: 36px;
        max-width: 100%;
    }
    .box_container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        min-width: 100%;
        border: 1px solid red; /* linia pomocnicza siatki */
    }
    .box_container > div {
        flex: 0 0 20%; /* Ustawia równą szerokość dla wszystkich elementów */
        max-width: 20%; /* Zapewnia, że każdy element ma szerokość 25% */
        box-sizing: border-box; /* Uwzględnia padding i border w szerokości elementu */
                 background-position: center;
                border: 1px solid blue; /* linia pomocnicza siatki */
    }
    .box_experience {
        background-size:contain;
    }
    .box_professionalism { 
        background-size:contain;
    }
    .box_quality { 
        background-size:contain;
    }
.box_trust { 
    background-size:contain;
}

}
