.body {
    font-family: "Montserrat";
}

.container {
        position: fixed; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%; 
        height: auto; 
    
      
  }
  .logo {
    max-height: 100%;
    transition: opacity 0.3s ease-in-out;
    align-content: center; 
    min-width: 360px;
    max-width: 80%;
   }

    @media (min-width: 768px) {
        .logo {
            max-width: 80%;
        }
    }