   .nav {
    opacity: 0;
    max-height: 0;
    overflow: hidden; 
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out; 
    width: 50%;
    position:fixed;
    top: 62px;
    right: 66px; 
    z-index: 9;
    background: white;
    box-shadow: 14px 12px 12px 6px rgba(100, 100, 100, 0.5);
  }

.nav.visible {
  opacity: 1;
  max-height: 500px; 
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in; 
}

  .menuButton {
    display: flex;
    background: none;
    border: none;
    font-size: 12px;
    justify-content:flex-end;
  }
  .menuIcon {
    position:relative;
    border: 1px blue solid;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 5px 5px 2px rgba(100, 100, 100, 0.5);
    transition: transform 0.3s ease, font-weight 0.3s ease;
  }
  .menuIcon:hover {
    transform: scale(1.2);
    
  }
  .navList {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: none;
    gap: 25px;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding: auto 0;
  }

  .navItem {
    flex: 1; 
    text-align: center; 
    text-shadow: 3px 2px #aaa8a8;
width: 100%;
  }
  .navItem button {
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    text-decoration: none;
    text-shadow: 6px 5px 5px 3px rgba(100, 100, 100, 0.5);
    font-size: 16px;
    width: 100%;
    transition: transform 0.3s ease-in-out, font-weight 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
  }
  .navItem button:hover {
    transform: scale(1.1); 
    font-weight: bold; 
    cursor: pointer;
    text-shadow: 1px 1px #99999b;
  }
  

@media (min-width: 768px) {
  .nav {
    position: static;
    right: auto;
    top: auto;
    display: flex;
    justify-content: center;
    opacity: 1;
    max-height: none; 
    width: 100%;
    background: white;
  }
  .menuButton {
    display: none; 
  }
  .navList {
    flex-direction: row;
  }
  
}

  @media (min-width: 1280px) {
    .nav {
               margin: auto;} 
               .navItem button{
font-size: 24px;
               }
  }
  