.headerContainer {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align:center;
    box-shadow: 0 5px 5px 3px rgba(88, 87, 87, 0.9);
    gap: 20px;
    z-index: 10;
    background: linear-gradient(135deg, rgba(144, 144, 146), rgba(35, 35, 37));
    opacity: none;
    font-family: "Montserrat";
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 100%;
    border: 1px solid red; 
    padding: 10px; 
    box-sizing: border-box;
}
.mail_contact {line-height: 1.5;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    border: 1px solid blue; 
justify-content: space-around;}
    
.phone_contact {line-height: 1.5;
    display: flex;
    flex-direction: row;
    min-width: 100%;
    border: 1px solid blue;
    }
.title {
    font-size: 12px;
    color: white;
    min-width: 50px;
    max-width: 240px;
}
.link {
    text-decoration: none; 
    font-size: 12px;
    color: white;
    width: 90%;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}
.link:hover {
    cursor: pointer; 
    transform: scale(1.1);
    font-weight: bold; 
    color: #ffcc00; 
}
@media (min-width: 768px) {
    .title {
        font-size: 16px;
        max-width: 300px;
    }
    .link {font-size: 16px;
        max-width: 1279px;}
   }
   .phone_contact {
    max-width: 100%;
}
.mail_contact {
    max-width: 100%;
}
@media (min-width: 1280px) {
    .title {
        font-size: 20px;
    }
    .link {font-size: 20px;
        max-width: 1279px;}

}